body{
	margin: 0 auto;
	width: 100%;
}

.grande_division {
	display: flex;
	justify-content: space-around;
	padding-top: 20px;
}

.icones{
	display: flex;
	justify-content: space-around;
}
.icone1{
	font-size: 0.8em;
}

.icone2{
	
	width: 30px;
    height: 30px;
    border-radius: 20px;
    background: #EDEDED;
}

.icone2 p{
	
    font-size: 0.5em;
    text-align: center;

}

.icone3 {
	width: 30px;
    height: 30px;
    border-radius: 20px;
    background: #EDEDED;
    font-size: 0.5em;
    text-align: center;
   

}

.icone1 .icone2 .icone3{
	padding: 0 20px 0;
	justify-content: space-between;
}

a{
	padding-right: 20px;
}

.logo img{
	
	width: 160px;
	height: 60px;
	float: left;
}

nav{
	text-align: center;
	margin-left: 15%;
}

nav ul {
	display: flex;
	margin-right: 0 auto;
}

nav li{
	padding: 10px 0px 0 15px;
	list-style: none;
	text-decoration: none;
	font-weight: bold;
	font-size: 0.8em;
	text-transform: uppercase; 
}

nav li a {
	text-decoration: none;
	color: #FECB00;
}

nav li:after{
	content: "/";
	color:  #FECB00;
}

.banniere{
	margin: 0 auto;
	padding-top: 70px;
	text-align: center;
}

.menu2{
	margin-left: 280px;
}

.menu2 a {

	padding:10px;
	float: left;
	list-style: none;
	text-decoration: none;
	color: #FECB00;
	font-size: 0.8em;
	font-weight: bold;
}

section {
	float: left;
	margin-left: 280px;
}

section h1{
	text-transform: uppercase;
}

section h2{
	text-transform: uppercase;
	font-size: 1.1em;
}

.article3 img{
	width: 498px;
	height: 301px;
}