body{
	margin: 0;
}
footer{
	display: flex;
	width: 100%;
	background-color: black;
	color: white;
	font-size: 10px;
}
.gauche, .milieu, .droite{
	width: 30%;
}
.milieumilieu{
	display: flex;
	width: 80%;
}
.texteimage{
	width: 70%;
}
.imagePlug{
	width: 30%;
	align-items: center;
	display: flex;
	justify-content: flex-end;
}
.pluginlabs
{
	width: 70%;
	height: 30%;
}
.milieuhaut{
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.milieuhautmilieu{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.milieubas{
	font-size: 7px;
}
footer>div{
	width: 10%;}

